<aside class="sidebar">
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">
      <span class="icon">⬛</span>
      Funds
    </a>

    <a routerLink="/dashboard/contribution" routerLinkActive="active">
      <span class="icon">💰</span>
      Contribute
    </a>

    <a routerLink="/dashboard/history" routerLinkActive="active">
      <span class="icon">🕘</span>
      History
    </a>

    <a routerLink="/dashboard/members" routerLinkActive="active">
      <span class="icon">👥</span>
      Members
    </a>

    <a routerLink="/dashboard/notifications" routerLinkActive="active">
      <span class="icon">🔔</span>
      Notifications
    </a>
  </nav>
</aside>
